<div class="container" ng-hide="success || errors.length > 0">
  <h2>Bond listing</h2>
  <p>All available bonds</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Bond ID</th>
        <th></th>
        <th>Wind Speed</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bond in bonds">
        <td>{{bond.bondId}}</td>
        <td><button class="btn btn-default" ng-click="checkWeatherCondition(bond.bondId)">Check</button></td>
        <td><span class="black"><span id="wind-speed">{{conditions[bond.bondId]}}</span></span></td>
        <td><button class="btn btn-default" ng-click="subscribeBond(bond.bondId, quantity)">Subscribe</button></td>
      </tr>
    </tbody>
  </table>
</div>


<div ng-show="success">
    <div class="alert alert-success" role="alert">Success</div>
</div>
<div ng-show="errors">
    <div class="alert alert-error" role="alert">{{errors}}</div>
</div>