<div class="container">
  <h2>Bond listing</h2>
  <p>All available bonds</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Bond ID</th>
        <th>Issuer</th>
        <th>Remaining</th>
        <th></th>
        <th>Wind Speed</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bond in bonds">
        <td>{{bond.bondId}}</td>
        <td>{{bond.issuer}}</td>
        <td>{{bond.quantity}}</td>
        <td><button class="btn btn-default" ng-click="checkWeatherCondition(bond.bondId)">Check</button></td>
        <td><span class="black"><span id="wind-speed">{{conditions[bond.bondId]}}</span></span></td>
        <td><input type="number" class="form-control" id="quantity" placeholder="1" ng-model="quantity"></td>
        <td><button ng-click="subscribeBond(bond.bondId, quantity)" class="btn btn-default">Subscribe</button></td>
      </tr>
    </tbody>
  </table>
</div>


<div ng-show="success">
    <div class="alert alert-success" role="alert">Success</div>
</div>
<div ng-show="errors">
    <div class="alert alert-error" role="alert">{{errors}}</div>
</div>