<div class="container">
  <h2>Bond listing</h2>
  <p>All available bonds</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Bond ID</th>
        <th>Owner</th>
        <th>Quantity</th>
        <th>Quantity for Sale</th>
        <th>Sell Price</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bond in bonds">
        <td>{{bond.bondId}}</td>
        <td>{{bond.investor}}</td>
        <td>{{bond.quantity}}</td>
        <td><input type="number" class="form-control" id="quantity_for_sell" placeholder="1" ng-model="quantity_for_sale"></td>
        <td><input type="number" class="form-control" id="sell_price" placeholder="1" ng-model="sell_price"></td>
        <td><button ng-click="offerForSale(bond.bondId, quantity_for_sale, sell_price)" class="btn btn-default">Subscribe</button></td>
      </tr>
    </tbody>
  </table>
</div>


<div ng-show="success">
    <div class="alert alert-success" role="alert">Success</div>
</div>
<div ng-show="errors">
    <div class="alert alert-error" role="alert">{{errors}}</div>
</div>